---
import Section from "../Section.astro"

import { basics } from "@cv"
const { summary } = basics
---

<Section title="Sobre mí">
  <p>
    {summary.split("\n").map(e=>{return <div>{e}</div>})}
  </p>
</Section>
